body {
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

#sendMessage {
    width: auto;
    height: auto;
    outline: 4px solid #4287f5;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 0px;
    align-items: center;
    text-align: center;
}

#deleteMessage {
    width: auto;
    height: auto;
    outline: 4px solid #4287f5;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 0px;
    align-items: center;
    text-align: center;
}
#boxes {
    width: 100%;
    height: 100%;
}